@tailwind base;
@tailwind components;
@tailwind utilities;

:root, [data-theme="theme1"] {
  --color-bg: 255 255 255; /* #ffffff */
  --color-wave: 186 234 255; /* #baeaff */
  --color-text: 14 45 49; /* #0e2d31 */
  --color-text-light: 93 108 110; /* #5d6c6e */
  --color-link: 239 89 34; /* #ef5922 */
}

[data-theme="theme2"] {
  --color-bg: 41 40 38; /* #292826 */
  --color-wave: 130 85 82; /* #825552 */
  --color-text: 255 255 255; /* #ffffff */
  --color-text-light: 200 200 200; /* #c8c8c8 */
  --color-link: 249 211 66; /* #f9d342 */
}

[data-theme="theme3"] {
  --color-bg: 255 255 255; /* #ffffff */
  --color-wave: 205 194 213; /* #cdc2d5 */
  --color-text: 51 51 51; /* #333333 */
  --color-text-light: 90 90 90; /* #5a5a5a */
  --color-link: 150 217 186; /* #96d9ba */
}

[data-theme="theme4"] {
  --color-bg: 10 25 47; /* #0a192f */
  --color-wave: 17 34 64; /* #112240 */
  --color-text: 230 241 255; /* #e6f1ff */
  --color-text-light: 136 146 176; /* #8892b0 */
  --color-link: 100 255 218; /* #64ffda */
}

@page {
  margin: 0;
}

@layer components {
  .rounded-outline {
    border: 3px solid rgb(var(--color-text));
    /* outline-color: rgb(var(--color-text)); */
    border-radius: 20px;
    overflow: hidden;
    border-collapse: separate;
  }
}

@layer base {
  .fade-in {
    opacity: 0;
    transform: translateY(5vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }
  .fade-in.delay-0 {
    transition-delay: 0s;
  }
  .fade-in.delay-1 {
    transition-delay: 0.1s;
  }
  .fade-in.delay-2 {
    transition-delay: 0.2s;
  }
  .fade-in.delay-3 {
    transition-delay: 0.3s;
  }
  .fade-in.delay-4 {
    transition-delay: 0.4s;
  }
  .fade-in.delay-5 {
    transition-delay: 0.5s;
  }
  .fade-in.delay-6 {
    transition-delay: 0.6s;
  }
  .fade-in.delay-7 {
    transition-delay: 0.7s;
  }
  .fade-in.delay-8 {
    transition-delay: 0.8s;
  }
  .fade-in.delay-9 {
    transition-delay: 0.9s;
  }
  .fade-in.delay-10 {
    transition-delay: 1s;
  }
  .fade-in.delay-11 {
    transition-delay: 1.1s;
  }
  .fade-in.delay-12 {
    transition-delay: 1.2s;
  }
  .fade-in.delay-13 {
    transition-delay: 1.3s;
  }
  .fade-in.delay-14 {
    transition-delay: 1.4s;
  }
  .fade-in.delay-15 {
    transition-delay: 1.5s;
  }
  .fade-in.delay-16 {
    transition-delay: 1.6s;
  }
  .fade-in.delay-17 {
    transition-delay: 1.7s;
  }
  .fade-in.delay-18 {
    transition-delay: 1.8s;
  }
  .fade-in.delay-19 {
    transition-delay: 1.9s;
  }
  .fade-in.delay-20 {
    transition-delay: 2s;
  }
  .fade-in.delay-21 {
    transition-delay: 2.1s;
  }
  .fade-in.delay-22 {
    transition-delay: 2.2s;
  }
  .fade-in.delay-23 {
    transition-delay: 2.3s;
  }
  .fade-in.delay-24 {
    transition-delay: 2.4s;
  }
  .fade-in.delay-25 {
    transition-delay: 2.5s;
  }
  .fade-in.no-transform {
    transform: translateY(0);
  }
  .fade-in.wait-for-load.delay-0 {
    transition-delay: 3.8s;
  }
  .fade-in.wait-for-load.delay-1 {
    transition-delay: 3.9s;
  }
  .fade-in.wait-for-load.delay-2 {
    transition-delay: 4s;
  }
  .fade-in.wait-for-load.delay-3 {
    transition-delay: 4.1s;
  }
  .fade-in.wait-for-load.delay-4 {
    transition-delay: 4.2s;
  }
  .fade-in.wait-for-load.delay-5 {
    transition-delay: 4.3s;
  }
  .fade-in.wait-for-load.delay-6 {
    transition-delay: 4.4s;
  }
  .fade-in.wait-for-load.delay-7 {
    transition-delay: 4.5s;
  }
  .fade-in.wait-for-load.delay-8 {
    transition-delay: 4.6s;
  }
  .fade-in.wait-for-load.delay-9 {
    transition-delay: 4.7s;
  }
  .fade-in.wait-for-load.delay-10 {
    transition-delay: 4.8s;
  }
  .fade-in.wait-for-load.delay-11 {
    transition-delay: 4.9s;
  }
  .fade-in.wait-for-load.delay-12 {
    transition-delay: 5s;
  }
  .fade-in.wait-for-load.delay-13 {
    transition-delay: 5.1s;
  }
}
