.bulge {
  stroke-linecap: round;
  animation-timing-function: cubic-bezier(0.53, 1.425, 0.38, 0.92);
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
  will-change: width, height;
}
.bulge.first {
  stroke-width: 0;
  /* animation-delay: 0.3s; */
  animation-duration: 300ms;
}
.bulge.first.sw19 {
  animation-name: bulge-first-sw19;
}
@keyframes bulge-first-sw19 {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 19;
  }
}
.bulge.first.sw33 {
  animation-name: bulge-first-sw33;
}
@keyframes bulge-first-sw33 {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 33;
  }
}
.bulge.second {
  stroke-width: 0;
  animation-delay: 0.2s;
  animation-duration: 500ms;
}
.bulge.second.sw49 {
  animation-name: bulge-first-sw49;
}
@keyframes bulge-first-sw49 {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 49;
  }
}
.bulge.second.sw63 {
  animation-name: bulge-first-sw63;
}
@keyframes bulge-first-sw63 {
  0% {
    stroke-width: 0;
  }
  100% {
    stroke-width: 63;
  }
}

.animateCircle {
  animation-name: animate-circle;
  animation-delay: 0.8s;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  will-change: stroke-dashoffset;
  stroke-dashoffset: 194.778744523;
  stroke-dasharray: 194.778744523 194.778744523;
}
@keyframes animate-circle {
  100% {
    stroke-dashoffset: 0;
  }
}

.fadeOut {
  width: 300px;
  height: 30ppx;
  animation-name: scale-out;
  animation-duration: 0.3s;
  /* animation-timing-function: cubic-bezier(0.1, -0.065, 0.860, -0.155); */
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
  transform-origin: 50% 50%;
}
@keyframes scale-out {
  0% {
    /* width: 300px;
      height: 300px; */
    scale: 1;
  }
  100% {
    scale: 0;
    /* width: 0px;
      height: 0px; */
  }
}

.revealPage {
  animation-name: reveal-page;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes reveal-page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .revealPage {
    visibility: visible;
    animation-name: reveal-page;
    animation-duration: 3.8s;
    animation-fill-mode: forwards;
  }
  @keyframes reveal-page {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  }
  
  .waitToShowPage {
    visibility: hidden;
    animation-name: wait-to-show-page;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3.2s;
  }
  @keyframes wait-to-show-page {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
   */

.changeColOnStart {
  background-color: #fff;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.changeColOnStart.toBg {
  animation-name: change-col-on-start-to-bg;
}
@keyframes change-col-on-start-to-bg {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: rgb(var(--color-bg));
  }
}
.changeColOnStart.toWave {
  animation-name: change-col-on-start-to-wave;
}
@keyframes change-col-on-start-to-wave {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: rgb(var(--color-wave));
  }
}

.changeFillOnStartToWave {
  animation-name: change-fill-on-start;
  fill: #fff;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes change-fill-on-start {
  0% {
    fill: #fff;
  }
  30% {
    fill: rgb(var(--color-bg));
  }
  70% {
    fill: rgb(var(--color-bg));
  }
  100% {
    fill: rgb(var(--color-wave));
  }
}
